/*=========================//
	Разработчик Смагин Константин - vk.com/tg_bu77h34d
	Группа разработчика - vk.com/westerndev
	Дизайнер Никита Бундаев - vk.com/nik_richo
	Группа дизайнера - vk.com/planetdesigner
	Для Ubuntu RP
//*=========================*/

@font-face { /* Шрифт Ubuntu */
	font-family: ubuntu;
	src: url(../fonts/ubuntu.ttf);
}

body {
	margin: 0 0 0 0;
}

header {
	background: url("../images/BG_donate.png") no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 600px;
}

section {
	width: 100%;
	height: 900px;
}

a { /* Стиль всех links */
	text-decoration: none;
	color: white;
	font-family: ubuntu;
	font-size: 15px;
}

.container { /* Контейнер сайта */
	position: relative;
	margin: 0 auto; 
	width: 60%;
	height: 100%;
}

.DonateWindow {
	position: absolute;
	margin: 0 auto; 
	margin-top: 50px;
	margin-left: 0px;
	width: 400px;
	height: 450px;
	background: white;
}

.Form {
	margin-top: 60px;
}

.TitleH3 {
	text-align: center;
    color: white;
    font-family: ubuntu;
    text-transform: uppercase;
    background: #fc6a42;
    height: 40px;
    padding-top: 10px;
    position: relative;
    top: -20px;
}

.select {
	position: relative;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    background: white;
    overflow: hidden;
    box-shadow: 0 0 20px #80808059;
    margin-top: 20px;
}

.select::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
  background: url("../images/expand.png") no-repeat;
  background-size: 50% 50%;
  background-position: 50% 50%;
  pointer-events: none;
}

.icon {
  position: absolute;
  top: 0px;
  left: -5px;
  width: 40px;
  height: 40px;
  pointer-events: none;
}

#ServerIcon {
  background: url(../images/server_1.png) no-repeat;
  background-size: 50% 50%;
  background-position: 50% 50%;
}

#ManIcon {
  background: url(../images/avatar_1.png) no-repeat;
  background-size: 50% 50%;
  background-position: 50% 50%;
}

#BagIcon {
  background: url(../images/shopping-bag_1.png) no-repeat;
  background-size: 50% 50%;
  background-position: 50% 50%;
}

#Select {
	-webkit-appearance: none;
  -moz-appearance: none;
 	-ms-appearance: none;
 	appearance: none;
  margin-left: 30px;
  width: 270px;
  height: 40px;
  border: 0;
  font-size: 14px;
  font-family: ubuntu;
  color: #d5caca;
  outline: 0;
  cursor: pointer;
}

#ServersSelect::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}

input[type="text"]::-webkit-input-placeholder {
  color: #d5caca;
} 

input[type="search"]::-moz-placeholder {
  color: #d5caca;
}

.InputText {
	position: relative;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    background: white;
    overflow: hidden;
    box-shadow: 0 0 20px #80808059;
    margin-top: 20px;
}

#NickName {
  border: 0;
    width: 270px;
    height: 40px;
    margin-left: 30px;
    outline: 0;
    font-size: 14px;
    font-family: ubuntu;
    color: #d5caca;
}

.BtnMenu {
  float: left;
  margin-left: 11px;
  margin-top: 25px;
}

.BtnMenuUL {
  float: left;
}

.BtnMenuUL li {
  display: block;
  float: left;
  margin-left: 10px;
}

.button { /* Стиль всех кнопок */
  position: relative;
  border-radius: 25px 25px 25px 25px;
  width: 130px;
  height: 40px;
}

.button span { /* Стиль текста всех кнопок */
  position: relative;
  color: white;
  font-family: ubuntu;
  font-size: 12px;
  top: 23%;
}

#GoPay { /* Стиль кнопки "Перейти к оплате" */
  position: relative;
  background: #fc6a42;
  border: 2px solid #fc6a42;
}

#GoPay span { /* Стиль текста кнопки "Перейти к оплате" */
    left: 12%;
}

#ActiveShares { /* Стиль кнопки "Активные акции" */
  position: relative;
  border: 2px solid #fc6a42;
}

#ActiveShares span { /* Стиль текста кнопки "Активные акции" */
  left: 12%;
  color: #fc6a42;
}

#confirm{
  color: #d5caca;
  font-family: ubuntu;
  font-size: 11px;
  margin-top: 120px;
  text-align: center;
}

#Cortez {
    background: url(../images/Mercedes_Cortez_VC.png) no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
    width: 300px;
    height: 500px;
    position: absolute;
    margin-top: 50px;
    margin-left: 360px;
    transition: 0.3s;
}

#Cortez:hover {
  margin-left: 380px;
}

.HowUseDonate {
	width: 100%;
	height: 650px;
}

.TitleH2 {
  text-align: center;
    color: #fc6a42;
    font-family: ubuntu;
    height: 40px;
    padding-top: 50px;
    position: relative;
    top: -20px;
}

.HelpBlock {
  margin: 0 auto;
  width: 100%;
  height: 80px;
}

.NumCircle {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background: #454545;
}

#Num {
  color: white;
  font-family: ubuntu;
  font-size: 70px;
  margin-left: 20px;
}

#Info {
  color: #454545;
  font-family: ubuntu;
  font-size: 20px;
  margin-left: 100px;
  padding-top: 15px;
}

#NeedHelp { /* Стиль кнопки "Нужна помощь" */
    position: relative;
    background: #454545;
    border: 2px solid #454545;
    margin: 0 auto;
    top: 50px;
}

#NeedHelp span { /* Стиль текста кнопки "Нужна помощь" */
    left: 15%;
}