/*=========================//
	Разработчик Смагин Константин - vk.com/tg_bu77h34d
	Группа разработчика - vk.com/westerndev
	Дизайнер Никита Бундаев - vk.com/nik_richo
	Группа дизайнера - vk.com/planetdesigner
	Для Ubuntu RP
//*=========================*/

@font-face { /* Шрифт Ubuntu */
	font-family: ubuntu;
	src: url(../fonts/ubuntu.ttf);
}

a { /* Стиль всех links */
	text-decoration: none;
	color: white;
	font-family: ubuntu;
	font-size: 15px;
}

.container { /* Контейнер сайта */
	position: relative;
	margin: 0 auto; 
	width: 60%;
	height: 100%;
}

#Head {
	background: #fc6a42;
	background: linear-gradient(to right, #fc6a42, #fc7f5d);
    width: 100%;
    height: 50px;
}

#Logo { /* Стиль логотипа */
	position: relative;
	top: 15px;
}

#HeaderMenu{ /* Стиль меню */
	float: right;
}

#HeaderMenuUL { /* Стиль меню */
	margin-top: 18px;
	margin-right: 5px; 
	display: block;
}

#HeaderMenuUL li{ /* Стиль меню */
	float: left;
	display: block;
	margin-left: 50px;
	margin-top: 0px;
	height: 40px;
	
}

#HeaderMenuUL li a {
	height: 40px;
}

#HeaderMenuUL li {
	transition: 0.2s;
}

#HeaderMenuUL li:hover {
	margin-top: -5px;
}

#HeaderMenuUL a { /* Стиль меню */
	display: block;
	text-decoration: none;
	font-family: ubuntu;
	font-size: 12px;
	color: white;
}